language: node_js
node_js:
  - '9'
  - '8'
  - '7'
  - '6'
install:
  - npm install
script:
  - npm run build
  - npm run test
after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
cache:
  directories:
    - "node_modules"
